@font-face {
    font-family: "Pirate Scroll PL";
    src: url('../PIRATESCROLLPL.ttf');
}

.ember {
    --font-header: "Pirate Scroll PL", "Pirate Scroll", serif;
}

.crucible-fullscreen .step-selection {
    flex: 0 0 510px;
}
